name: "eml_processor"

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"

  rails-app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile

    volumes:
    - ../../eml_processor:/workspaces/eml_processor:cached

    # Overrides default command so things don't shut down after the process ends.
    command: sleep infinity

    # Uncomment the next line to use a non-root user for all processes.
    # user: vscode

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally.
    # (Adding the "ports" property to this file will not forward from a Codespace.)
    depends_on:
    - selenium
    - redis 
    - db

  sidekiq:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - ../../eml_processor:/workspaces/eml_processor:cached
    depends_on:
      - db
      - redis

  selenium:
    image: selenium/standalone-chromium
    restart: unless-stopped

  redis:
    image: redis:7.0-alpine
    restart: unless-stopped
    expose:
      - 6379

volumes:
  postgres_data: